<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.facetedworlds.festify.dtf2014" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" />
	<application android:icon="@drawable/Icon" android:label="Dallas TechFest 2014"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>